<a href="https://colab.research.google.com/github/KESHAVNATH8/Machine-Learning-Project/blob/main/Car_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import scale
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

In [4]:
df = pd.read_csv('/content/car.data.csv')

In [5]:
df

,car_ID,symboling,horsepower,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,carheight,curbweight,citympg,highwaympg,enginesize,peakrpm,boreratio,stroke,compressionratio,price
0,1,3,111,0,0,0,4,1,1,88.6,...,48.8,2548,21,27,130,5000,3.47,2.68,9.0,13495.0
1,2,3,111,0,0,0,4,1,1,88.6,...,48.8,2548,21,27,130,5000,3.47,2.68,9.0,16500.0
2,3,1,154,0,0,0,1,1,1,94.5,...,52.4,2823,19,26,152,5000,2.68,3.47,9.0,16500.0
3,4,2,102,0,0,1,0,0,1,99.8,...,54.3,2337,24,30,109,5500,3.19,3.40,10.0,13950.0
4,5,2,115,0,0,1,0,2,1,99.4,...,54.3,2824,18,22,136,5500,3.19,3.40,8.0,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,114,0,0,1,0,1,1,109.1,...,55.5,2952,23,28,141,5400,3.78,3.15,9.5,16845.0
201,202,-1,160,0,1,1,0,1,1,109.1,...,55.5,3049,19,25,141,5300,3.78,3.15,8.7,19045.0
202,203,-1,134,0,0,1,0,1,1,109.1,...,55.5,3012,18,23,173,5500,3.58,2.87,8.8,21485.0
203,204,-1,106,1,1,1,0,1,1,109.1,...,55.5,3217,26,27,145,4800,3.01,3.40,23.0,22470.0
204,205,-1,114,0,1,1,0,1,1,109.1,...,55.5,3062,19,25,141,5400,3.78,3.15,9.5,22625.0

In [6]:
df.head()

,car_ID,symboling,horsepower,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,carheight,curbweight,citympg,highwaympg,enginesize,peakrpm,boreratio,stroke,compressionratio,price
0,1,3,111,0,0,0,4,1,1,88.6,...,48.8,2548,21,27,130,5000,3.47,2.68,9.0,13495.0
1,2,3,111,0,0,0,4,1,1,88.6,...,48.8,2548,21,27,130,5000,3.47,2.68,9.0,16500.0
2,3,1,154,0,0,0,1,1,1,94.5,...,52.4,2823,19,26,152,5000,2.68,3.47,9.0,16500.0
3,4,2,102,0,0,1,0,0,1,99.8,...,54.3,2337,24,30,109,5500,3.19,3.40,10.0,13950.0
4,5,2,115,0,0,1,0,2,1,99.4,...,54.3,2824,18,22,136,5500,3.19,3.40,8.0,17450.0

In [7]:
df.tail()

,car_ID,symboling,horsepower,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,carheight,curbweight,citympg,highwaympg,enginesize,peakrpm,boreratio,stroke,compressionratio,price
200,201,-1,114,0,0,1,0,1,1,109.1,...,55.5,2952,23,28,141,5400,3.78,3.15,9.5,16845.0
201,202,-1,160,0,1,1,0,1,1,109.1,...,55.5,3049,19,25,141,5300,3.78,3.15,8.7,19045.0
202,203,-1,134,0,0,1,0,1,1,109.1,...,55.5,3012,18,23,173,5500,3.58,2.87,8.8,21485.0
203,204,-1,106,1,1,1,0,1,1,109.1,...,55.5,3217,26,27,145,4800,3.01,3.40,23.0,22470.0
204,205,-1,114,0,1,1,0,1,1,109.1,...,55.5,3062,19,25,141,5400,3.78,3.15,9.5,22625.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   horsepower        205 non-null    int64
 3   fueltype          205 non-null    int64
 4   aspiration        205 non-null    int64
 5   doornumber        205 non-null    int64
 6   carbody           205 non-null    int64
 7   drivewheel        205 non-null    int64
 8   enginelocation    205 non-null    int64
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  citympg           205 non-null    int64
 15  highwaympg        205 non-null    int64
 16  enginesize        205 non-null    int64
 17  peakrpm           205 non-null    int64
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  price             205 non-null    float64
dtypes: float64(8), int64(14)
memory usage: 35.4 KB

In [10]:
df.describe()

,car_ID,symboling,horsepower,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,carheight,curbweight,citympg,highwaympg,enginesize,peakrpm,boreratio,stroke,compressionratio,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,...,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,104.117073,0.097561,0.180488,0.560976,0.819512,0.458537,0.985366,98.756585,...,53.724878,2555.565854,25.219512,30.751220,126.907317,5125.121951,3.329756,3.255415,10.142537,13276.710571
std,59.322565,1.245307,39.544167,0.297446,0.385535,0.497483,0.990944,0.581148,0.120377,6.021776,...,2.443522,520.680204,6.542142,6.886443,41.642693,476.985643,0.270844,0.313597,3.972040,7988.852332
min,1.000000,-2.000000,48.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,86.600000,...,47.800000,1488.000000,13.000000,16.000000,61.000000,4150.000000,2.540000,2.070000,7.000000,5118.000000
25%,52.000000,0.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,94.500000,...,52.000000,2145.000000,19.000000,25.000000,97.000000,4800.000000,3.150000,3.110000,8.600000,7788.000000
50%,103.000000,1.000000,95.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,97.000000,...,54.100000,2414.000000,24.000000,30.000000,120.000000,5200.000000,3.310000,3.290000,9.000000,10295.000000
75%,154.000000,2.000000,116.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,102.400000,...,55.500000,2935.000000,30.000000,34.000000,141.000000,5500.000000,3.580000,3.410000,9.400000,16503.000000
max,205.000000,3.000000,288.000000,1.000000,1.000000,1.000000,4.000000,2.000000,1.000000,120.900000,...,59.800000,4066.000000,49.000000,54.000000,326.000000,6600.000000,3.940000,4.170000,23.000000,45400.000000

In [11]:
df.isnull().sum()

car_ID              0
symboling           0
horsepower          0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
citympg             0
highwaympg          0
enginesize          0
peakrpm             0
boreratio           0
stroke              0
compressionratio    0
price               0
dtype: int64

In [12]:
x= df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [13]:
x

array([[  1.  ,   3.  , 111.  , ...,   3.47,   2.68,   9.  ],
       [  2.  ,   3.  , 111.  , ...,   3.47,   2.68,   9.  ],
       [  3.  ,   1.  , 154.  , ...,   2.68,   3.47,   9.  ],
       ...,
       [203.  ,  -1.  , 134.  , ...,   3.58,   2.87,   8.8 ],
       [204.  ,  -1.  , 106.  , ...,   3.01,   3.4 ,  23.  ],
       [205.  ,  -1.  , 114.  , ...,   3.78,   3.15,   9.5 ]])

In [14]:
y

array([13495.   , 16500.   , 16500.   , 13950.   , 17450.   , 15250.   ,
       17710.   , 18920.   , 23875.   , 17859.167, 16430.   , 16925.   ,
       20970.   , 21105.   , 24565.   , 30760.   , 41315.   , 36880.   ,
        5151.   ,  6295.   ,  6575.   ,  5572.   ,  6377.   ,  7957.   ,
        6229.   ,  6692.   ,  7609.   ,  8558.   ,  8921.   , 12964.   ,
        6479.   ,  6855.   ,  5399.   ,  6529.   ,  7129.   ,  7295.   ,
        7295.   ,  7895.   ,  9095.   ,  8845.   , 10295.   , 12945.   ,
       10345.   ,  6785.   ,  8916.5  ,  8916.5  , 11048.   , 32250.   ,
       35550.   , 36000.   ,  5195.   ,  6095.   ,  6795.   ,  6695.   ,
        7395.   , 10945.   , 11845.   , 13645.   , 15645.   ,  8845.   ,
        8495.   , 10595.   , 10245.   , 10795.   , 11245.   , 18280.   ,
       18344.   , 25552.   , 28248.   , 28176.   , 31600.   , 34184.   ,
       35056.   , 40960.   , 45400.   , 16503.   ,  5389.   ,  6189.   ,
        6669.   ,  7689.   ,  9959.   ,  8499.   , 12629.   , 14869.   ,
       14489.   ,  6989.   ,  8189.   ,  9279.   ,  9279.   ,  5499.   ,
        7099.   ,  6649.   ,  6849.   ,  7349.   ,  7299.   ,  7799.   ,
        7499.   ,  7999.   ,  8249.   ,  8949.   ,  9549.   , 13499.   ,
       14399.   , 13499.   , 17199.   , 19699.   , 18399.   , 11900.   ,
       13200.   , 12440.   , 13860.   , 15580.   , 16900.   , 16695.   ,
       17075.   , 16630.   , 17950.   , 18150.   ,  5572.   ,  7957.   ,
        6229.   ,  6692.   ,  7609.   ,  8921.   , 12764.   , 22018.   ,
       32528.   , 34028.   , 37028.   , 31400.5  ,  9295.   ,  9895.   ,
       11850.   , 12170.   , 15040.   , 15510.   , 18150.   , 18620.   ,
        5118.   ,  7053.   ,  7603.   ,  7126.   ,  7775.   ,  9960.   ,
        9233.   , 11259.   ,  7463.   , 10198.   ,  8013.   , 11694.   ,
        5348.   ,  6338.   ,  6488.   ,  6918.   ,  7898.   ,  8778.   ,
        6938.   ,  7198.   ,  7898.   ,  7788.   ,  7738.   ,  8358.   ,
        9258.   ,  8058.   ,  8238.   ,  9298.   ,  9538.   ,  8449.   ,
        9639.   ,  9989.   , 11199.   , 11549.   , 17669.   ,  8948.   ,
       10698.   ,  9988.   , 10898.   , 11248.   , 16558.   , 15998.   ,
       15690.   , 15750.   ,  7775.   ,  7975.   ,  7995.   ,  8195.   ,
        8495.   ,  9495.   ,  9995.   , 11595.   ,  9980.   , 13295.   ,
       13845.   , 12290.   , 12940.   , 13415.   , 15985.   , 16515.   ,
       18420.   , 18950.   , 16845.   , 19045.   , 21485.   , 22470.   ,
       22625.   ])

In [22]:
cols = x.columns
x = pd.DataFrame(scale(x))
x.columns = cols
x

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,-1.723622,1.743470,0.174483,-0.328798,-0.469295,-1.130388,3.217410,0.933994,0.121867,-1.690772,...,-0.844782,-2.020417,-0.014566,-0.646553,-0.546059,0.074449,-0.262960,0.519071,-1.839377,-0.288349
1,-1.706724,1.743470,0.174483,-0.328798,-0.469295,-1.130388,3.217410,0.933994,0.121867,-1.690772,...,-0.844782,-2.020417,-0.014566,-0.646553,-0.546059,0.074449,-0.262960,0.519071,-1.839377,-0.288349
2,-1.689826,0.133509,1.264536,-0.328798,-0.469295,-1.130388,0.182583,0.933994,0.121867,-0.708596,...,-0.190566,-0.543527,0.514882,-0.953012,-0.691627,0.604046,-0.262960,-2.404880,0.685946,-0.288349
3,-1.672928,0.938490,-0.053668,-0.328798,-0.469295,0.884652,-0.829026,-0.790950,0.121867,0.173698,...,0.136542,0.235942,-0.420797,-0.186865,-0.109354,-0.431076,0.787855,-0.517266,0.462183,-0.035973
4,-1.656029,0.938490,0.275883,-0.328798,-0.469295,0.884652,-0.829026,2.658938,0.121867,0.107110,...,0.230001,0.235942,0.516807,-1.106241,-1.273900,0.218885,0.787855,-0.517266,0.462183,-0.540725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1.656029,-1.476452,0.250533,-0.328798,-0.469295,0.884652,-0.829026,0.933994,0.121867,1.721873,...,1.398245,0.728239,0.763241,-0.340094,-0.400490,0.339248,0.577692,1.666445,-0.336970,-0.162161
201,1.672928,-1.476452,1.416637,-0.328798,2.130854,0.884652,-0.829026,0.933994,0.121867,1.721873,...,1.351515,0.728239,0.949992,-0.953012,-0.837195,0.339248,0.367529,1.666445,-0.336970,-0.364062
202,1.689826,-1.476452,0.757535,-0.328798,-0.469295,0.884652,-0.829026,0.933994,0.121867,1.721873,...,1.398245,0.728239,0.878757,-1.106241,-1.128332,1.109571,0.787855,0.926204,-1.232021,-0.338824
203,1.706724,-1.476452,0.047732,3.041381,2.130854,0.884652,-0.829026,0.933994,0.121867,1.721873,...,1.398245,0.728239,1.273437,0.119594,-0.546059,0.435538,-0.683286,-1.183483,0.462183,3.244916
204,1.723622,-1.476452,0.250533,-0.328798,2.130854,0.884652,-0.829026,0.933994,0.121867,1.721873,...,1.398245,0.728239,0.975021,-0.953012,-0.837195,0.339248,0.577692,1.666445,-0.336970,-0.162161

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [25]:
model = RandomForestRegressor()

In [26]:
model.fit(x_train,y_train)

RandomForestRegressor()

In [27]:
y_pred = model.predict(x_test)

In [29]:
r2_score(y_test,y_pred)

0.9018205336634104